* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;


    font-size: 18px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #e0fbfc;
}
main {
    flex: 1;
    width: 100%;
    max-width: 960px;
    padding: 20px;
    display: flex;
    justify-content: center;
    overflow: auto;
}
h1{
    margin: 20px;
    font-size: 40px;
    color: #ee6c4d;

}
input,
button,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    border-radius: 8px;
}
input, select {
    width: 50%;
    height: 5%;
    border: 3px solid #587d71;
    padding: 10px;
    margin: 10px;
    font-size: 20px;

}
select{
    background-color: white;
}
button {
    cursor: pointer;
    background-color: #3d5a80;
    color: white;
    padding: 10px 15px;
    border: 0;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #98c1d9;

}
.short{
    width: 100px;
}

.mid{
    width: 200px;
}
.line1{
    background: #6a8dbe;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
}

label[for="rooms_count"], label[for="total_meters"], label[for="author_type"], label[for="accommodation_type"] {
    color: white;
}
